body {
    /* background-color: rgba(38, 0, 56); */
    background-image: url('../../structuredHTML/resource/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(241, 211, 255);
    margin: 0%;
    padding: 0%;
}

.hamburger-div {
    display: none;
}

.hamburger-nav-bar {
    display: none;
}


.nav-container {
    background-color: rgb(73, 73, 73);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.nav-bar {
    margin-top: 1%;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-item {
    margin-right: 5%;
}


.nav-container a {
    color: white;
    background-color: transparent;
    text-decoration: none;

}

.nav-container a:hover {
    border-bottom: 1px solid rgb(241, 211, 255);
}

.logo {
    margin-left: 1%;
    width: 8%;
    text-align: center;
}

.logo-img {
    width: 50px;
    height: auto;
}

.banner {
    /* background-image: url(../resource/images/banner.jpg); */
    background-color: rgb(29, 29, 29, 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}

.banner-container {
    height: 100%;
}

.banner-details {
    display: flex;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}

.banner-img {
    background-image: url('../resource/images/profile.jpeg');
    background-size: cover;
    width: 40%;
    height: 80%;
    border-radius: 50%;
}


.banner-items {
    align-self: center;
    width: 40%;
    height: auto;
}

.banner-items a {
    color: rgb(241, 211, 255);
}

.box {
    background-color: rgb(29, 29, 29, 0.8);
}

footer {
    background-color: rgb(29, 29, 29);
    border: 1px solid white;
}

.footer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 1%;
}

.footer-links a {
    color: rgb(241, 211, 255);
}

section {
    padding: 4% 0%;
    margin: 1% 10%;
    height: 100%;
    background-color: rgb(241, 211, 255, 0.5);
    color: rgb(29, 29, 29);
    /* background-image: url('../resource/images/company.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

section h3 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    color: rgb(29, 29, 29);

}

.section-content {
    height: 100%;
    width: 80%;

}

.section-details {
    margin-left: 10%;
    height: 100%;
    width: 100%;
}

aside {
    margin: 1% 10%;
    background-color: rgb(29, 29, 29, 0.8);
    border: 1px solid rgb(241, 211, 255);
    text-align: center;
}

.aside-content li {
    margin-top: 10px;
}

.links {
    color: rgb(29, 29, 29);
    background-color: yellow;
}

main {
    position: relative;
}

.top {
    position: sticky;
    top: 80vh;
    text-align: right;
    width: 100%;
    /* position: fixed;
    right: 10px;
    bottom: 10px; */
}

.top img {
    width: 5vw;
    height: auto;
    border: none;
    border-radius: 100%;
    background-color: rgb(241, 211, 255);
}

.top a {
    display: inline;
    margin-right: 4%;
    color: white;
}

.conclusion-details {
    text-align: center;
}

.section-details li {
    margin-bottom: 10%;
}

@media (max-width: 768px) {
    .nav-bar {
        display: none;
    }

    .hamburger-div {
        display: block;
    }

    .hamburger-div:hover .hamburger-nav-bar {
        display: block;
    }

    .hamburger {
        margin-right: 2%;
        border: 1px solid white;
        height: 50px;
        width: 50px;
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }

    .hamburger-lines {
        width: 80%;
        border: 1px solid white;
    }

    .hamburger-div:hover .hamburger-lines {
        position: absolute;
        transition-property: transform;
        transition-duration: 2s;
        transition-timing-function: linear;

    }

    .hamburger-div:hover .line1 {
        transform: rotate(45deg);
    }

    .hamburger-div:hover .line3 {
        transform: rotate(-45deg);
    }

    .hamburger-div:hover .line2 {
        display: none;
    }

    .section-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50vh;
    }

    .section-details {
        margin-left: 10%;
        height: auto;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .banner {
        height: auto;
    }

    .banner-details {
        flex-direction: column;
        height: 100%;
        align-items: center;
    }

    .banner-img {
        width: 40%;
        height: 40vh;
    }

    .banner-items {
        width: 80%;
        height: 50%;
        text-align: center;
    }
}

.border {
    border: 1px solid rgb(241, 211, 255);
}